body{
  background-color: #cbd5e1;
}  
  .button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    color: #6c6777;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button.selected {
    color: #FFF;
    background-color: #6c6777;
  }
  
  .button.clear {
    color: #FFF;
    background-color: #ee1630;
    margin-top: 4px;
  }